.btn {
    min-width: 261px;
    height: 45.2px;
    background: #EBE26B;
    border-radius: 16px;
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    cursor: pointer;
    position: relative;
    color: #000000;
    transition: all .2s ease;
    &:hover {
        transition: all .2s ease;
        background-color: #2B2B2B;
        color: #EBE26B;
        border: 1px solid #EBE26B;
    }
    &.form__btn {
        width: 305px;
    }
    &.infoblock__btn {
        min-width: 305px;
        height: 49.13px;
    }
    &.warranty__btn {
        position: absolute;
        bottom: -20px;
        left: 50%;
       transform: translateX(-50%);
        min-width: 305px;
        height: 49.13px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
}