.comprehensive {
    padding: 149px 0 133px;

    &.right{
        padding-top: 0;
    }

    &__title {
        padding: 0 0 70px;
        font-weight: 600;
        font-size: 4.2rem;
        line-height: 6.3rem;
        text-align: center;
        color: #292929;
        text-transform: uppercase;
    }

    .container{
        padding: 0;
    }
}