.reviews {
    padding: 66px 0 156px;
    background: #F7F7F7;
    &__title {
        margin-bottom: 52px;
        font-weight: 600;
        font-size: 4.2rem;
        text-align: right;
        color: #292929;
    }
    &__slider {
        width: 100%;
        margin: 0 20px;
        position: relative;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        .my-slick-prev {
            position: absolute;
            bottom: 120px;
            left: 24px;
            width: 50px;
            height: 50px;
            background-color: inherit;
            border: 2px solid #E0B76E;
            border-radius: 100%;
            z-index: 10;
            outline: none;
            cursor: pointer;
            transition: all .2s ease;
            &::before {
                content: '';
                position: absolute;
                top: 14px;
                left: 17px;
                width: 9px;
                height: 17px;
                background: url("data:image/svg+xml,%3Csvg width='9' height='18' viewBox='0 0 9 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.97656 15.5025L3.63323 9L8.97656 2.4975L7.33156 0.5L0.331564 9L7.33156 17.5L8.97656 15.5025Z' fill='%23E0B76E'/%3E%3C/svg%3E%0A") center center/cover no-repeat;
            }
            &:hover {
                background-color: #E0B76E;
                transition: all .2s ease;
                &::before {
                    transform: rotate(180deg);
                    background: url("data:image/svg+xml,%3Csvg width='9' height='18' viewBox='0 0 9 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0234375 15.5025L5.36677 9L0.0234375 2.4975L1.66844 0.5L8.66844 9L1.66844 17.5L0.0234375 15.5025Z' fill='%231E1D19'/%3E%3C/svg%3E%0A") center center/cover no-repeat;
                }
            }
        }
        .my-slick-next {
            position: absolute;
            bottom: 120px;
            left: 100px;
            width: 50px;
            height: 50px;
            background-color: inherit;
            border: 2px solid #E0B76E;
            border-radius: 100%;
            z-index: 10;
            outline: none;
            cursor: pointer;
            transition: all .2s ease;

            &::before {
                content: '';
                position: absolute;
                top: 14px;
                left: 20px;
                width: 9px;
                height: 17px;
                transform: rotate(180deg);
                background: url("data:image/svg+xml,%3Csvg width='9' height='18' viewBox='0 0 9 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.97656 15.5025L3.63323 9L8.97656 2.4975L7.33156 0.5L0.331564 9L7.33156 17.5L8.97656 15.5025Z' fill='%23E0B76E'/%3E%3C/svg%3E%0A") center center/cover no-repeat;
            }
            &:hover {
                background-color: #E0B76E;
                transition: all .2s ease;
                &::before {
                    transform: rotate(0deg);
                    background: url("data:image/svg+xml,%3Csvg width='9' height='18' viewBox='0 0 9 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0234375 15.5025L5.36677 9L0.0234375 2.4975L1.66844 0.5L8.66844 9L1.66844 17.5L0.0234375 15.5025Z' fill='%231E1D19'/%3E%3C/svg%3E%0A") center center/cover no-repeat;
                }
            }
        }
    }
    &__slide {
        padding: 0px 0 50px;
        border-radius: 30px;
        position: relative;
        outline: none;
        &.slick-slide {
        display: flex;
        }
        &_img {
            width: 1200px;
            height: 674px;
            box-shadow: 10px 15px 15px rgba(0,0,0,0.4);
            border-radius: 30px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                object-position: 50% 50%;
                object-fit: cover;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(360deg, rgba(41, 41, 41, 0.94) 1.48%, rgba(41, 41, 41, 0) 26.11%);
                filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.4));
                border-radius: 30px;
            }
        }
        &_card {
            display: flex;
            flex-direction: column;
            margin: 75px 0 0 -95px;
            padding: 31px 33px 40px 30px;
            width: 573px;
            height: 643px;
            background: #FFFFFF;
            box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.4);
            
            border-radius: 31px;
            z-index: 10;
        }
        &_top {
            display: flex;
            align-items: center;
        }
        &_photo {
            width: 162px;
            height: 162px;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 114px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_name {
            font-weight: bold;
            font-size: 2.4rem;
            color: #292929;
            span {
                margin-top: 20px;
                display: block;
                font-weight: 500;
            }
        }
        &_text {
            font-weight: bold;
            color: #292929;
        }
        &_title {
            margin-top: 43px;
            font-weight: bold;
            font-size: 2.4rem;
        }
        &_descr {
            margin-top: 19px;
            font-style: italic;
            font-weight: 300;
            font-size: 1.7rem;
            line-height: 2.8rem;
        }
    }
}